langchain
langchain-openai
langchain-groq
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-mcp-adapters

langgraph

deepeval

faiss-cpu

mcp[cli]

torch
transformers 
sentence-transformers


huggingface_hub[hf_xet]
PyMuPDF

fastapi
uvicorn[standard]

streamlit

loguru
python-dotenv
pydantic-settings

python-multipart
requests