langchain
langchain-openai
langchain-groq
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-mcp-adapters
langchain-tavily
langchain-chroma 

langgraph
langgraph-checkpoint-sqlite

langsmith

deepeval

chromadb
mcp[cli]

tavily-python

torch
transformers 
sentence-transformers

huggingface_hub[hf_xet]
PyMuPDF
pypdf

fastapi
uvicorn[standard]

streamlit

loguru
python-dotenv
pydantic-settings

python-multipart
requests

aiosqlite

yfinance